@import 'reset.css';

:root{
	--black: #101010;
	--white: #f0f0f0;
	--gray: #181818;
}

.light{
	--black: #f0f0f0;
	--white: #101010;
	--gray: #f8f8f8;
}

body{
	background-color: var(--black);
	color: var(--white);
	transition: all 0.2s ease;
} 

.wrapper{
	min-height: 100dvh;
	min-width: 16.25rem;
	overflow: clip;
	display: flex;
	flex-direction: column;
	position: relative;
}

[class*="__container"] {
	max-width: 60rem;
	padding-left: 0.9375rem;
	padding-right: 0.9375rem;
	margin: 0 auto;
}

.header{
	padding: 3.6875rem 0rem 0.625rem 0rem;
	position: fixed;
	min-width: 100%;
	top: 0;
	left: 0;
	z-index: 50;
}

.header__container{
	display: flex;
	justify-content: space-between;
}

.header__theme{
	max-width: 4rem;
	max-height: 4rem;
	cursor: pointer;
}

.header__menu{
	max-width: 4rem;
	max-height: 4rem;
	cursor: pointer;
}

.main {
	flex: 1 1 auto;
	display: flex;
	align-items: center;
}
.main__container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 50px;
}


.main__item {
	min-width: 12.5rem;
	min-height: 12.5rem;
	background-color: var(--gray);
	border: 0.125rem solid var(--white);
	border-radius: 0.625rem;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	transition: transform 0.1s ease;
}

.main__item:hover{
	transform: scale(0.95);
}

.main__item img{
	max-width: 8rem;
	max-height: 8rem;
}

.footer {
	padding: 0.625rem 0rem 4.6875rem 0rem;
	position: fixed;
	width: 100%;
	bottom: 0;
	left: 0;
	z-index: 50;
}
.footer__container {
	display: flex;
	align-items: center;
	justify-content: center;
}
.footer__info {
	max-width: 3rem;
	max-height: 3rem;
	cursor: pointer;
}


@media (max-width: 62.5rem) {
	.header{
		padding: 2.1875rem 0rem 0.625rem 0rem;
	}
	.header__container{
		display: flex;
	}
	.header__theme{
		max-width: 3rem;
		max-height: 3rem;
	}
	.header__menu{
		max-width: 3rem;
		max-height: 3rem;
	}
	.main__container{
		grid-template-columns: repeat(4, 1fr);
		gap: 2.625rem;
	}
	.main__item{
		min-width: 9.375rem;
		min-height: 9.375rem;
	}
	.main__item img{
		max-width: 6rem;
		max-height: 6rem;
	}
	.footer{
		padding: 0.625rem 0rem 2.1875rem 0rem;
	}

	.footer__info {
		max-width: 2.25rem;
		max-height: 2.25rem;
	}
}

@media (max-width: 47.9937rem) {
	.main__container{
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (max-width: 22.9937em) {
	.header{
		padding: 2.1875rem 0pax 0.625rem 0rem;
	}
	.header__container{
		display: flex;
	}
	.header__theme{
		max-width: 2.25rem;
		max-height: 2.25rem;
	}
	.header__menu{
		max-width: 2.25rem;
		max-height: 2.25rem;
	}
	.main__container{
		gap: 1.125rem;
	}
	.main__item{
		min-width: 7.5rem;
		min-height: 7.5rem;
	}
	.main__item img{
		max-width: 4.75rem;
		max-height: 4.75rem;
	}
	.footer{
		padding: 0.625rem 0rem 2.1875rem 0rem;
	}

	.footer__info {
		max-width: 1.6875rem;
		max-height: 1.6875rem;
	}
}

@media (max-width: 18.1187em) {
	.header{
		padding: 2.1875rem 0px 0.625rem 0px;
	}
	.header__container{
		display: flex;
	}
	.header__theme{
		max-width: 1.875rem;
		max-height: 1.875rem;
	}
	.header__menu{
		max-width: 1.875rem;
		max-height: 1.875rem;
	}
	.main__container{
		gap: 0.9375rem;
	}
	.main__item{
		min-width: 6.25rem;
		min-height: 6.25rem;
	}
	.main__item img{
		max-width: 4rem;
		max-height: 4rem;
	}

	.footer__info {
		max-width: 1.4063rem;
		max-height: 1.4063rem;
	}
}